<!-- this resolves error ncaught (in promise): Error: Cannot find primary outlet to load 'WeatherComponent' but the template now appears twice on page 
<router-outlet>
  </router-outlet>
 -->

<section>

  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="jumbotron">
      <h2>Weather</h2>
    </div>
    <div class="row" *ngIf="weather">
      <div *ngIf="errorMessage" class="alert alert-dismissible alert-danger">
        {{ errorMessage }}
      </div>
      <table class="table">
        <tr>
          <td>Temp</td>
          <td>{{ weather.temp }} &deg; <img src="http://openweathermap.org/img/w/{{weather.icon}}.png"></td>
        </tr>
        
        <tr>
          <td>Description</td>
          <td> {{ weather.description }}</td>
        </tr>
        <tr>
          <td>Pressure</td>
          <td>{{ weather.pressure }} hPa</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>{{ weather.humidity }} %</td>
        </tr>
        <tr>
          <td>Cloudiness</td>
          <td>{{ weather.clouds }} %</td>
        </tr>
        <tr>
          <td>Temp Min</td>
          <td>{{ weather.temp_min }} &deg;</td>
        </tr>
        <tr>
          <td>Temp Max</td>
          <td>{{ weather.temp_max }} &deg;</td>
        </tr>
        <tr>
          <td>Wind</td>
          <td>{{ weather.windSpeed }} mph {{ weather.windDirection }} &deg;</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>{{ weather.name }}</td>
        </tr>

      </table>

      <form (ngSubmit)="searchByZip()" #weatherForm="ngForm">
        <div class="form-group">

          <label for="zip">Zip</label>
          <input type="text" name="zip" required [(ngModel)]="weather.zip" value="95409" placeholder="zip code" #zip="ngModel">

          <div [hidden]="zip.valid || zip.pristine" class="error">
            Zip is required
          </div>
        </div>
        <button type="submit" [disabled]="!weatherForm.valid">Get weather!</button>
      </form>
    </div>
  </div>

</section>