<section>

  <div class="col-lg-3 col-md-3 col-sm-4">
    <div class="jumbotron">
      <h2>Weather</h2>
    </div>
      <div *ngIf="errorMessage" class="alert alert-dismissible alert-danger">
        {{ errorMessage }}
      </div>
    <div class="row" *ngIf="weather">
    
      <table class="table">
        <tr>

          <td colspan="2">
            <h3>{{ weather.temp }}&deg; <img src="http://openweathermap.org/img/w/{{weather.icon}}.png"></h3>
          </td>
        </tr>
        <tr>
          <td>Hi/Lo</td>
          <td>{{ weather.temp_max }}&deg;/{{ weather.temp_min }}&deg;</td>
        </tr>
        <tr>
          <td>Description</td>
          <td> {{ weather.description }}</td>
        </tr>
        <tr>
          <td>Pressure</td>
          <td>{{ weather.pressure }} hPa</td>
        </tr>
        <tr>
          <td>Humidity</td>
          <td>{{ weather.humidity }}%</td>
        </tr>
        <tr>
          <td>Cloudiness</td>
          <td>{{ weather.clouds }}%</td>
        </tr>

        <tr>
          <td>Wind</td>
          <td>{{ weather.windSpeed }} mph, {{ weather.windDirection }} &deg;</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>{{ weather.name }}</td>
        </tr>

      </table>

      <form (ngSubmit)="searchByZip()" #weatherForm="ngForm">
        <div class="form-group">

          <label for="zip">Zip</label>
          <input type="text" name="zip" pattern="^\d{5}" required [(ngModel)]="weather.zip" placeholder="zip code" #zip="ngModel">
          <div>
            <small [hidden]="zip.valid || (zip.pristine && !weatherForm.submitted)">
            5 digit zip required.
          </small>
          </div>
        </div>
       
        <button type="submit" [disabled]="!weatherForm.valid">Get weather!</button>
        </form>
        <!--<pre *ngIf="zip.errors">{{ zip.errors | json }}</pre>-->
    </div>
  </div>

</section>